@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --brand: #ff4d29;
    --dark: #092032;
    --body: #516171;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    
}

body {
    font-family: "Barlow", sans-serif;
    color: var(--body);
    line-height: 1.7;
}  

h1,h2,h3,h4,h5,h6 
{
    font-weight: 700;
    color: var(--dark);
}  
a {
    color: var(--dark);
    transition: all 0.4s ease;
    font-weight: 500;
}   
/* img {
    width: 100%;
} */
section {
    padding-top: 80px;
    padding-bottom: 80px;
} 

/* top-navbar */
.top-nav {
    background-color: var(--brand);
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 15px; 
    margin-left: 8px;
}


.top-nav i {
    vertical-align: middle;
}



.social-icons a {
    width: 30px;
    height: 30px;
    display: inline-flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.social-icons a:hover {
    background-color: #fff;
    color: var(--brand);
}
 
/* bottom-navbar */ 
 
.navbar {
    box-shadow: var(--shadow);
} 
.navbar a span{ 
    color: var(--brand);
}
.navbar .navbar-nav .nav-link {
    color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--brand);
} 
.btn {
    padding: 8px 20px;
}

.btn-contact {
    border-color: var(--brand);
    background-color: var(--brand);
    color: #fff; 
    margin-right: -10px;
}

.btn-contact:hover {
    background-color: #d64022;
    color: #fff;
} 

@media (max-width:990px){
    a,.dropdown-menu{ 
        width: 150px;
    }
} 

.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}

.navbar-brand {
    font-size: 30px;
    font-weight: 650;
} 

/* background */ 

    
.background {

    background: linear-gradient(-90deg, rgba(59, 85, 104, 0.8), rgba(50, 72, 90, 0.8)), url(../images/bg.jpg), #082032;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    height: 350px;

}  
.background .content{ 
    text-align:left; 
    margin-top: 50px; 
    color: white;
} 
.background .content h1{ 
     
    color: white;
} 
.background .content a {
    color: #fff;
    margin-right: 5px;
    text-decoration: none;  
    font-weight: 350; 
    font-size: 25px;
} 
.background .content h5 { 
    display: inline-block;
    color: #fff;
    font-weight: 300;
    
} 
   
/* background */
/* team-members */ 
    
    .our-title { 
        margin-bottom: 35px;
        text-align: center; 
        }
    .our-title h1 {
         margin-top: 15px;
         margin-bottom: 15px;
        }  
         
            
    .our-title p {
          max-width: 500px;
        }
 
    .team-member {
        text-align: center;
    } 

    .team-member h5 {
        margin-top: 16px;
        margin-bottom: 4px;
    }
    .team-member .image{
        position: relative;
        /* z-index: 2; */
        overflow: hidden;
    }
    
    .team-member .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: -10%;
        background-color: rgba(255, 77, 41, 0.7);
        opacity: 0;
        transition: all 0.4s ease;
    }
    
    .team-member .social-icons {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
        transition: all 0.4s ease;
    }
    
    .team-member .social-icons a {
        width: 40px;
        height: 40px;
    }
    
    .team-member:hover .social-icons {
        top: 50%;
        opacity: 1;
    }
    
    .team-member:hover .overlay {
        top: 0%;
        opacity: 1;
    } 
     
     /* blog posts */ 
     .blog-post {
        position: relative;
        background-color: #fff;
        box-shadow: var(--shadow);
    } 
    
    .blog-post .content {
        padding: 32px;
    }
    
    .blog-post h5 {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    
    .blog-post small {
        text-transform: uppercase;
        color: var(--brand);
        text-decoration: underline;
    } 
    .blog-post .img{
        position: relative;
        z-index: 2;
        overflow: hidden; 
        text-align: center;
    }
    
    .blog-post .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: -10%;
        background-color: rgba(199, 79, 58, 0.486);
        opacity: 0;
        transition: all 0.4s ease;
    }
    
    .blog-post a {
        position: absolute;
        top: 50%;
        left: 30%;  
        z-index: 2; 
        cursor: pointer;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.4s ease; 
        background-color: var(--brand);
        padding: 2px 12px;
        border-radius: 100px;
        text-decoration: none;
        color: #fff;
    }
    .blog-post:hover a {
        
        left: 50%;
        opacity: 1; 
    }
    
    .blog-post:hover .overlay {
        top: 0%;
        opacity: 1;
    }   
    /* servecis */ 
 
   .our-title { 
    margin-bottom: 35px;
    text-align: center; 
    }
    
    .our-title p {
        max-width: 500px;
    }
    .our-title h6{
        color: var(--brand);
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .our-title h1 {
        margin-top: 15px;
        margin-bottom: 15px;
    } 
    .service-content {
        padding: 30px;
        background-color: #fff;
        box-shadow: var(--shadow); 
        text-align: center; 
        transition: 0.5s ease;
    } 
    .service-content:hover{
        transform: scale(1.1);
    }
    
    .service-content h5 {
        margin-top: 24px;
        margin-bottom: 14px;
    }
    
    .service-content img {
        width: 90px;
    } 
   
    /* footer */ 
    footer {
        background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)), url(../images/bg_banner1.jpg), #082032;;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    footer .footer-top {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    
    .footer-bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    footer .navbar-brand {
        color: #fff;
    } 
    footer a span{ 
        color: var(--brand);
    }
    
    footer p {
        color: #ADB3B9;
    }
    
    footer .social-icons a {
        width: 50px;
        height: 50px;
        font-size: 20px;
        margin-left: 4px;
        margin-right: 4px;
    }
     
    /* contact page */  
     .maps{ 
         background-color:  #F2F2F2; 
       } 

     .maps .row {
        display: flex;
        align-items: center;
        align-content: center; 
        
      }
      .maps .row .content {
        padding-left: 50px;
      }
      .maps .row .content h2 {
        margin-top: -20px;
      }
      
      .maps .row .content input, .maps .row .content textarea {
        border: 1px solid #8f8d8d;
        margin-top: 30px; 
        font-size: 20px;
      }
      .maps .row .content ::-moz-placeholder {
        font-family: "DM Serif Text", serif;
        text-transform: capitalize;
      }
      .maps .row .content ::placeholder {
        font-family: "DM Serif Text", serif;
        text-transform: capitalize;
      }
      .maps .row .content button {
        background-color: var(--brand);
        width: 170px;
        padding: 10px;
        border-radius: 2px;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 30px;
      }
      .maps .row .content button:hover {
        background-color: transparent;
        color: #000;
        border: 1px solid #000000;
      }
       
      /* about us */ 
       
      .about .content h1{ 
        margin-bottom: 20px;
     } 
     .about .content h3{ 
        color: var(--brand); 
     }  
     .about .content p{ 
        font-size: 18px;  
        font-weight: 300;
     } 
    
    .about .content button {
        border-color: var(--brand);
        background-color: var(--brand);
        color: #fff; 
        margin-right: -10px;  
    }
    
    .about .content button:hover {
        background-color: #d64022;
        color: #fff; 
        
    }  
    .about .contant img{ 
        border-radius: 5px; 
        width: 100%;
    } 
     
     
     
    /* up button */
.up{ 
    position: fixed; 
    bottom: 20px; 
    right: 50px; 
    display: none; 
    z-index: 1000; 
    background-color: var(--brand); 
    border: none; 
    border-radius: 50px; 
    color: white;
} 
.up:hover {
    background-color: #d64022;
    color: #fff; 
    border: none;
}  
 
/* login and register modal */ 
  .wrapper{ 
     
    position: relative; 
    width: 500px; 
    height: 440px; 
    background: transparent; 
    border: 2px solid rgba(255, 255, 255, 0.5); 
    border-radius: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden;   
    transform: .5s ease; 
    transition: height .2s ease; 
    
  }   
  
  .wrapper.active{ 
     height: 520px;
  }  
  .wrapper .form-box.login{ 
    
    transition: transform .3s ease; 
    transform: translateX(0);
  } 
  .wrapper.active .form-box.login{ 
    
    transition: none; 
    transform: translateX(-500px);
  }   

  .wrapper .form-box.register{ 
    position: absolute;  
    transition: none;
    transform: translateX(500px);
  }  
  .wrapper.active .form-box.register{ 
    
    transition: transform .3s ease; 
    transform: translateX(0);
  } 
  
  .wrapper .icon-close{ 
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 45px; 
    height: 45px; 
    background-color: #d64022; 
    font-size: 22px; 
    color: white; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-bottom-left-radius: 20px; 
    cursor: pointer; 
    z-index: 1;
  } 

  .form-box{ 
    width: 100%; 
    padding: 40px;
  } 
  .form-box h2{ 
    font-size: 30px; 
    text-align: center;
  } 
  .input-box{ 
    position: relative; 
    width: 100%; 
    height: 50px; 
    border-bottom: 2px solid rgba(34, 26, 26, 0.5); 
    margin: 30px 0; 

  } 
  .input-box label{ 
    position:absolute; 
    top: 50%;  
    left: 5px;
    transform: translateY(-50%); 
    font-size: 15px; 
    font-weight: 500; 
    color: #162938; 
    pointer-events: none; 
    transition: .5;
  }  
  .input-box input:focus~label, 
  .input-box input:valid~label{  
    top: -5px;

  } 
  .input-box input{ 
    width: 100%; 
    height: 100%; 
    background: transparent; 
    border: none; 
    outline: none; 
    font-size: 17px; 
    color: #162938; 
    font-weight: 600; 
    padding: 0 35px 0 5px;
  } 
  .input-box .icon{ 
    position: absolute; 
    right: 10px; 
    font-size: 17px; 
    color: var(--brand);
  } 
  .remember-forget{ 
    font-size: 15px; 
    font-weight: 500px; 
    color: #162938; 
    display: flex; 
    justify-content: space-between; 
    margin: -15px 0 15px;
  }
  .remember-forget a{  
    color: var(--brand); 
    text-decoration: none;
  } 
  .remember-forget a:hover{  
    text-decoration:underline;
  } 
  .btn-login{ 
    width: 100%; 
    height: 45px; 
    background: var(--brand); 
    border: none; 
    outline: none; 
    border-radius: 6px; 
    cursor: pointer; 
    font-size: 20px; 
    font-weight: 500; 
    color: white;
  } 
  .login-register{ 
    font-size: 15px; 
    font-weight: 500; 
    text-align: center;  
    color: #162938; 
    margin: 25px 0 10px;
  } 
  .login-register a{  
    color: var(--brand); 
    text-decoration: none;
  } 
  .login-register a:hover{  
    text-decoration:underline;
  } 
 
/*END OF login and register modal */  
 
/* Start Whatsapp Chating */
.Whatsapp_Chating{
      width: 325px;
      height: 340px;
      background: transparent;
      position: fixed;
      bottom: 12px;
      right: 110px;
      z-index: 1000;
      border-radius: 20px;
      overflow: hidden;
  }
  
  .Whatsapp_Chating .Whatsapp_Icon{
    position: absolute;
    right: 15px;
    bottom: 2px;
    cursor: pointer;
  }
  .Whatsapp_Chating .All_inf_whatsapp {
    transform: translateY(130%);
  }
  .Whatsapp_Chating .All_inf_whatsapp .info_chate{
    width: 100%;
    height: 129px;
    background: green;
  }
  
  .Whatsapp_Chating .All_inf_whatsapp .info_chate img{
    position: absolute;
    right: 20px;
    top: 36px;
  }
  
  .Whatsapp_Chating .All_inf_whatsapp .info_chate h4{
    position: absolute;
    top: 30px;
    right: 80px;
    font-weight: bold;
    color: #fff;
  }
  
  .Whatsapp_Chating .All_inf_whatsapp .info_chate p{
    position: absolute;
    top: 64px;
    right: 80px;
    direction: rtl;
    color: white;
  }
  .Numbers{
    width: 100%;
    height: 250px;
    background: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  } 
  .Numbers a{
    text-decoration: none;
  }
  
  .Card_Chat{
    width: 100%;
    height: 60px;
    background: #ecedee;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08); 
    border: none; 
    margin-top: 10px;
  }
  
  .Card_Chat img{
    position: absolute;
      right: 13px;
      top: 14px;
  }
  
  .Card_Chat h6{
    text-align: center;
    line-height: 56px;
    font-weight: bold;
  } 
  /* end of whatsab chatting */
